.container{
    background:#f1f1f1;
}
h3 {
    color: black;
    font-size: small;
}

.content {
    background: lightgray;
}

.margin-top-80 {
    margin-top: 80px;
}

 .navbar-brand { 
    background-color: #076e77;
    color: light-active-color;
}
.navbar-text{
    color: white;
}

.content h1 { */
    height: 50px;
    padding: 5px;
    color: #4d8d88;
}

.card-body{
    margin-top:50px;
}
.card-title{
    color:#076e77;
}
.nav-link{
    background-color: lightgrey
}
@media (max-width:600px)
.navbar-brand{
    background-color: #076e77;
}