h3 {
    color: black;
    font-size: small;
}

.content {
    /*background: lightgray;*/
}

.margin-top-80 {
    margin-top: 80px;
}

.navbar-brand {
    background-color: #4d8d88;
    color: #FFF;
    font: small-caps;
}

.content h1 {
    height: 50px;
    padding: 5px;
    color: #4d8d88;
}